{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'un nouveau statut</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Créer ce statut" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('statut_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
