{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
    <h1>Création d'un degré d'importance</h1>

    {{ form_start(form) }}

        {% form_theme form 'form/fields.html.twig' %}

        {{ form_widget(form) }}
    </div>
    <div class="bottom_bar">
        <a href="{{ path('degreimportance_index') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Retour à la liste</a>
        <input class="btn btn-primary nouveau-button" type="submit" value="Créer ce degré d'importance" />
        {{ form_end(form) }}
    </div>


{% endblock %}
